.checkbox {
  display: block;
  position: relative;
  padding: 0 0 0 33px;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.checkbox__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox__checkmark {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 6px;
  width: 22px;
  height: 22px;
  transition: all 0.3s;
  background-image: url('../images/checkbox-empty.svg');
}

.checkbox:hover .checkbox__input ~ .checkbox__checkmark {
  /* background-color: #ccc; */
  opacity: 0.5;
}

.checkbox .checkbox__input:checked ~ .checkbox__checkmark {
  background-image: url('../images/checkbox.svg');
}

/* .checkbox__checkmark:after {
  content: "";
  position: absolute;
  display: none;
} */

/* .checkbox .checkbox__input:checked ~ .checkbox__checkmark:after {
  display: block;
} */

/* .checkbox .checkbox__checkmark:after {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  height: 10px;
  left: 8px;
  top: 3px;
  transform: rotate(45deg);
  width: 5px;
} */
