


.form-delivery__header {
  margin: 0;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 8px;
}

.form-delivery__btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  margin-bottom: 24px;
}

.form-delivery__del-type {
  background-color: transparent;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  height: 36px;
  border-radius: 20px;
  border: 2px solid rgba(203, 17, 171, 0.15);
  transition: background-color 0.3s;
}

.form-delivery__del-type:hover:not(.form-delivery__del-type_active) {
  background-color: var(--smoky);
  cursor: pointer;
}

.form-delivery__del-type_active {
  border: 2px solid var(--pink);
}

.form-delivery__adress-box {
  margin-bottom: 16px;
  margin-bottom: 16px;
  height: 183px;
  overflow: auto;
  position: relative;
}

.form-delivery__adress-box-pickup {
  /* margin-right: -9px;
  padding-right: 5px; */
}

.form-delivery__adress-box::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.form-delivery__adress-box::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
.form-delivery__adress-box::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}

/* Handle on hover */
.form-delivery__adress-box::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.form-delivery__adress-box-courier {
  /* padding-bottom: 33px; */
}

.form-delivery__adress-box_inactive {
  display: none;
}

.form-delivery__adress-wrapper {
  margin-top: 8px;
}

.form-delivery__adress-row {
  min-height: 36px;
  display: flex;
  justify-content: space-between;
}

.form-delivery__dlt-btn {
  background-color: transparent;
  border: none;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url('../images/delete-grey.svg');
  transition: background-image 0.3s;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  cursor: pointer;
  margin-top: 8px;
  flex-shrink: 0;
}

.form-delivery__dlt-btn:hover {
  background-image: url('../images/delete-orange.svg');
}

.form-delivery__radio-btn {
  margin-right: 8px;
}

.form-delivery__rating {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  padding: 0 0 8px 28px;
  margin-top: -4px;
  display: none;
  align-items: center;
}

.form-delivery__adress-box-pickup .form-delivery__rating {
  display: flex;
}

.form-delivery__rating-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url('../images/star.svg');

}

.form-delivery__rating-value {
  color: #000;
  margin-left: 4px;
}

.form-delivery__rating-value_inactive {
  display: none;
}

.form-delivery__rating-pvz {
  color: #A0A0A4;
  margin-left: 8px;
}
