.header {
  background-color: var(--violet);
  color: #fff;
  padding: 16px 0 40px;
  position: relative;
}

.header::after {
  content: '';
  display: block;
  width: 100%;
  height: 24px;
  border-radius: 24px 24px 0 0;
  background-color: var(--smoky);
  position: absolute;
  bottom: -1px;
  left: 0;
}

.header__container {
  padding: 0 20px 0 24px;
  max-width: var(--max-width);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.header__logo-contaner {
  display: flex;
  align-items: center;
  min-height: 56px;
}

.header__burger {
  background: none;
  border: 1px rgba(255, 255, 255, 0.45) solid;
  border-radius: 8px;
  padding: 0;
  width: 48px;
  height: 48px;
  margin-right: 16px;
  cursor: pointer;
}

.header__burger-img{
  background-image: url('../images/burger.svg');
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 28px;
  height: 24px;
  margin: auto;
}

.header__logo {
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  height: 48px;
  letter-spacing: 1.9px;
  text-decoration: none;
  width: 107px;
}

@media (max-width: 768px) {

  .header {
    padding: 0 0 25.4px 0;
  }
  .header__container {
    padding: 0 13px;
    justify-content: space-between;
    align-items: center;
  }

  .header__burger-img{
    background-image: url('../images/burger-mobile.svg');
    width: 28px;
    height: 28px;
  }

  .header__burger {
    border: none;
    padding: 0;
    margin-right: 16px;
    width: auto;
    height: auto;
  }

  .header__logo {
    font-size: 26px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.52px;
    white-space: nowrap;
    height: 24px;
    display: block;
    width: auto;
    padding: 13px 0 21px;
  }

  .header__navbar {
    display: none;
  }
}
