.mob-nav {
  height: 56px;
  background-color: #fff;
  padding: 0 16px;
  display: none;
  align-items: center;
  position: fixed;
  z-index: 9;
  box-sizing: border-box;
  width: 100%;
  bottom: 0;
  left: 0;
  box-shadow: 0 -0.5px 4px rgba(0,0,0,.3);
  backdrop-filter: blur(5px);
}

.mob-nav__ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mob-nav__li {
  position: relative;
}

.mob-nav__li .navbar__number-box {
  right: -6px;
  color: #fff;
}

.mob-nav__link {
  text-decoration: none;
  display: block;
  width: 28px;
  height: 28px;
}

.mob-nav__link-home {
  background-image: url('../images/home.svg');
}

.mob-nav__link-search {
  background-image: url('../images/catalog.svg');
}

.mob-nav__link-cart {
  background-image: url('../images/cart-active.svg');
}

.mob-nav__link-favorites {
  background-image: url('../images/favorites.svg');
}

.mob-nav__link-profile {
  background-image: url('../images/profile-grey.svg');
}

@media (max-width: 768px) {
  .mob-nav {
    display: flex;
  }
}
