.popup {
  visibility: hidden;
  background-color: rgba(5,0,10,.3);
  display: flex;
  height: 100%;
  left: 0;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 10;
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.popup_opened {
  transition: visibility 0s 0s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  visibility: visible;
  opacity: 1;
}

.popup__container {
  background-color: #fff;
  border-radius: 16px;
  width: 100%;
  max-width: 500px;
}

.popup__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px 24px 13px;
}

.popup__heading {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.popup__form {

}

.popup__form-container {
  padding: 0 22px;
}

.popup__sbt-btn-wrapper {
  padding: 0 24px 24px;
}

.popup__sbt-btn {
  background-color: var(--pink);
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 8px;
  width: 164px;
  min-height: 44px;
  transition: opacity 0.3s;
  cursor: pointer;
}

.popup__sbt-btn_inactive {
  opacity: 0.4;
  cursor: auto;
}

.popup__sbt-btn:hover:not(.popup__sbt-btn_inactive) {
  opacity: 0.7;
}

.popup__close-btn {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url('../images/close.svg');
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.3s;
}

.popup__close-btn:hover {
  opacity: 0.6;
}
