.radio-btn {
  position: relative;
  padding: 4px 0 8px 28px;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.radio-btn:hover > .radio-btn__checkmark {
  opacity: 0.5;
}

.radio-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-btn__checkmark {
  position: absolute;
  top: 9px;
  left: 0;
  height: 20px;
  width: 20px;
  background-image: url('../images/radio-btn-empty.svg');
  display: block;
  transition: opacity 0.3s;
}

.radio-btn input:checked ~ .radio-btn__checkmark {
  background-image: url('../images/radio-btn.svg');
}

.radio-btn input:checked ~ .radio-btn__checkmark:after {
  display: block;
}
