.tooltip {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.tooltip__text-box {
  visibility: hidden;
  padding-top: 5px;
  position: absolute;
  z-index: 5;
  top: 90%;
  right: -10px;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.tooltip .tooltip__text {
  box-shadow: 0 0 4px 0px rgba(0,0,0,.3);
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  padding: 11px 16px 13px 16px;
  display: block;
}

.tooltip:hover .tooltip__text-box {
  visibility: visible;
  opacity: 1;
}
